<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>科技讯</title>
  <link rel="stylesheet" type="text/css" href="./css/common/reset.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common/index.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common/header.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common/footer.min.css">
  <link rel="stylesheet" type="text/css" href="./css/detail.min.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_682144_lglxb2ys6hjpds4i.css">
</head>
<body>
  <div>
    <%- include('./template/header') %>
  </div>
  <div class="container">
    <div class="container-inner">
      <div class="detail-header">
        <div class="header-left">
          <a href="http://www.kejixun.com" class="detail-logo__wrap">
            <img src="./images/detail/small_logo.png" alt="">
          </a>
          <div class="breadcrumb">
            <a href="" class="breadcrumb-item">首页 > </a>
            <a href="" class="breadcrumb-item">游戏 > </a>
            <a href="" class="breadcrumb-item">攻略 > </a>
            <a href="" class="breadcrumb-item">正文</a>
          </div>
        </div>
        <div class="search-box clearfix">
           <input type="text" name="" value="" placeholder="请输入搜索关键字" class="search-input">
        </div>
      </div>
      <!-- 内容 -->
      <div class="mainlib">
        <div class="inner">
          <div class="article-content">
            <h1 class="article-title">探访张艺谋《对话·寓言2047》幕后，用艺术驯服机械到底有多难？</h1>
            <p class="article-info">
              <a href="" class="article-author">作者</a>
              <span class="info-item">2018-05-23 16:46:04</span>
              <span class="info-item">娱乐</span>
            </p>
            <section class="summary">此前从来没有见过视频网站因此而发起维权诉讼，但是近期密集出现，充分说明了竞争压力之下，视频网站对于流
            对于流量的焦虑。</section>
            <section class="article-text">
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>
              <p><img src="./images/detail/small_logo.png" alt=""></p>
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>
              <p>用代码取代皮鞭，像驯兽师一样驯服机械臂／矩阵灯球，让机器“听懂”音乐，随着真人演奏竖琴，或者将
              倒影投射在地面，光影与人类共舞。</p>            
            </section>
            <section class="article-footer">
              <p>【原创声明】本文为科技讯原创，未经许可，任何人不得复制、转载、或以其他方式使用本文。</p>
            </section>
            <section class="tags">
              <a href="" class="tag">科技前沿</a>
              <a href="" class="tag">科技前沿</a>
              <a href="" class="tag">科技前沿</a>
              <a href="" class="tag">科技前沿</a>
              <a href="" class="tag">科技前沿</a>
            </section>
          </div>
          <div class="thumbs-up__wrap">
            <div class="thumbs-up">
              <i class="iconfont icon-dianzan"></i>
              <span>赞</span>
            </div>
          </div>
          <div class="other-articles">
            <div class="articles-item clearfix">
              <p>上一篇</p>
              <p class="title"><a href="">在嘈杂中创造个人空间，耳机对世界的改变有多美大变有多美大变有多美大变有多美大</a></p>
              <p class="tags-list">
                <i class="iconfont icon-biaoqian"></i>
                <a href="">企业服务，</a>
                <a href="">人工智能，</a>
                <a href="">华为</a>
              </p>
            </div>
            <div class="articles-item clearfix">
              <p>下一篇</p>
              <p class="title"><a href="">在嘈杂中创造个人空间，耳机对世界的改变有多美大</a></p>
              <p class="tags-list">
                <i class="iconfont icon-biaoqian"></i>
                <a href="">企业服务，</a>
                <a href="">人工智能，</a>
                <a href="">华为</a>
              </p>
            </div>
          </div>
          <div class="related-articles">
            <h4>您可能感兴趣的文章</h4>
            <div class="articles-main">
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复</a>
                </div>
              </div>
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复</a>
                </div>
              </div>
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复</a>
                </div>
              </div>
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复</a>
                </div>
              </div>
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复</a>
                </div>
              </div>
              <div class="article-item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>
                </div>
                <div class="item-title">
                  <a href="">别接受硅谷的道歉，别相信科技巨头能自我修复科技巨头能自我修复科技巨头能自我修复</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 侧边栏 -->
      <sidebar class="detail-sidebar">
        <div class="sidebar-inner">
          <div class="author-info">
            <div class="author-avatar">
              <a href="" class="avatar" style="background-image: url('./images/detail/demo.jpg');"></a>
            </div>
            <div class="author-name">
              <a href="">作者啊</a>
            </div>
            <div class="author-desc">关注文娱、科技；微信Spontaneous-Literary</div>
            <div class="post-count">
              <i class="iconfont icon-wenzhang"></i>
              <span>共发表了84篇文章</span>
            </div>
            <div class="post-list">
              <h4>最近内容</h4>
              <ul class="list">
                <li>
                  <p class="title"><a href="">探访张艺谋《对话·寓言2047》幕后，用艺术驯服机械到底有多难？</a></p>
                  <p class="note">
                    <span class="time">2018-05-23 16:46:04</span>
                    <span class="tag clearfix">娱乐</span>
                  </p>
                </li>
                <li>
                  <p class="title"><a href="">探访张艺谋《对话·寓言2047》幕后，用艺术驯服机械到底有多难？</a></p>
                  <p class="note">
                    <span class="time">2018-05-23 16:46:04</span>
                    <span class="tag clearfix">娱乐</span>
                  </p>
                </li>
                <li>
                  <p class="title"><a href="">探访张艺谋《对话·寓言2047》幕后，用艺术驯服机械到底有多难？</a></p>
                  <p class="note">
                    <span class="time">2018-05-23 16:46:04</span>
                    <span class="tag clearfix">娱乐</span>
                  </p>
                </li>
                <li>
                  <p class="title"><a href="">探访张艺谋《对话·寓言2047》幕后，用艺术驯服机械到底有多难？</a></p>
                  <p class="note">
                    <span class="time">2018-05-23 16:46:04</span>
                    <span class="tag clearfix">娱乐</span>
                  </p>
                </li>
              </ul>
            </div>
            <section class="enter-report">
              <a href="">点击阅读更多内容</a>
            </section>
          </div>
          <div class="hot-articles">
            <h4>热门文章</h4>
            <ul class="list">
              <li class="item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>                  
                </div>
                <div class="item-right">
                  <p class="title"><a href="">我爱我家创始人再创业：融资我说我亿，“8分钟送达”，他要做3：一说我</a></p>
                  <p class="time">2018-05-21</p>
                </div>
              </li>
              <li class="item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>                  
                </div>
                <div class="item-right">
                  <p class="title"><a href="">我爱我家创始人再创业：融资我说我亿，“8分钟送达”，他要做3：一说我</a></p>
                  <p class="time">2018-05-21</p>
                </div>
              </li>
              <li class="item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>                  
                </div>
                <div class="item-right">
                  <p class="title"><a href="">我爱我家创始人再创业：融资我说我亿，“8分钟送达”，他要做3：一说我</a></p>
                  <p class="time">2018-05-21</p>
                </div>
              </li>
              <li class="item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>                  
                </div>
                <div class="item-right">
                  <p class="title"><a href="">我爱我家创始人再创业：融资我说我亿，“8分钟送达”，他要做3：一说我他要做3：一说我</a></p>
                  <p class="time">2018-05-21</p>
                </div>
              </li>
              <li class="item">
                <div class="img-box">
                  <a href="" style="background-image: url('./images/detail/demo.jpg');">
                    <img src="./images/detail/demo.jpg" alt="">
                  </a>                  
                </div>
                <div class="item-right">
                  <p class="title"><a href="">我爱我家创始人再创业：融资我说我亿，“8分钟送达”，他要做3：一说我</a></p>
                  <p class="time">2018-05-21</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </sidebar>
    </div>
  </div>
  <div>
   <%- include('./template/footer') %>
  </div>
</body>
</html>