<!-- footer -->
<footer class="footer">
  <div class="footer-inner">
    <p class="links">
      <span class="footer-item">©2010-2018科技选版权所有<a href="http://www.kejixun.com" class="link">www.kejixun.com</a></span>
      <span class="footer-item line">|</span>
      <span class="footer-item"><a href="" class="link">关于我们</a></span>
      <span class="footer-item line">|</span>
      <span class="footer-item"><a href="" class="link">联系方式</a></span>
      <span class="footer-item line">|</span>
      <span class="footer-item"><a href="" class="link">版权声明</a></span>
      <span class="footer-item line">|</span>
      <span class="footer-item"><a href="" class="link">站长统计</a></span>
    </p>
  </div>
</footer>